@charset "UTF-8";
@import url(../styles/Common.scss);

.about_wrap{
  height: 100%;
  padding-left: 100px;
  .background_image{
    position: fixed;
    left: 50%;
    top: 15%;
    img:first-of-type{
      opacity: 0.5;
      filter: blur(40px);
      transition: all 0.5s ease-in-out 0s;
    }
    img:last-of-type{
      position: absolute;
      left: -600px;
      top: -140px;
      filter: blur(40px);
      opacity: 0.7;
      transition: all 0.5s ease-in-out 0s;
    }
  }

  .bImage.visible{
    transform: translateX(-50%) rotate(45deg) scale(1);
  }

  .bImage.hidden{
    transform: translateX(-230%) rotate(-360deg) scale(0.1);
  }

  .bImage:last-of-type.hidden{
    transform: translateX(500%) rotate(-360deg) scale(0);
  }

  .hamburger-btn{
    background: rgba($color: #636B88, $alpha: 0.3);
    border-radius: 50%;
  }
.profile_image{
  position: fixed;
  right: 0;
  top: 20%;
  width: 428px;
  height: 662px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
  }
}
  h1{
    position: absolute;
    left: 10%;
    font-size: 50px;
    font-weight: bold;
    color: #636B88;
  }

  .about_info{
    position: relative;
    top: 23%;
  }

  .top_wrap.about{
    position: relative;
    left: 0;
    width: 100%;
    height:auto;
    color: #636B88;
    line-height: 1.3;
    margin: 0 0 30px 0;
     h2{
      width: 73.5%;
      font-size: 42px;
      letter-spacing: 4.3px;
      border-bottom: 2px solid #636B88;
      padding-bottom: 15px;
     }
     p{
      width: 53%;
      margin-top: 15px;
      font-size: 20px;

     }
  }
}

.bottom_wrap.about{
  position: relative;
  top: 28%;
  display: flex;
  gap: 8%;
}

.left_side.about{
  margin-left: 0;
  width: 464px;
  h2{
    font-size: 32px;
    font-weight: bold;
    border-bottom: 2px solid #636B88;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .skill_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 284px;
    font-size: 18px;
    li{
      width: 235px;
      height: 36px;
      margin-bottom: 20px;
      img{
        height: 36px;
        text-indent: -9999px;
        overflow: hidden;
        margin-right: 10px;
      }
    }
  }

}

.right_side.about{
  position: static;
  width: 464px;
  height: 200px;
  display: inline-block;
  margin-top: 10px;
  line-height: 1.3;

  h2{ 
    font-size: 32px;
    font-weight: bold;
    border-bottom: 2px solid #636B88;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  p{
    font-size: 28px;
  }
  span{
    font-size: 20px;
    color: rgba($color: #636B88, $alpha: 0.8);
  }
}

// 전환 이펙트 효과

.about_wrap{



  h1.moveMent.visible{
      top: 105px;
      transition-delay: 0.4s;

  }
  h1.moveMent.hidden{
    top: 40px;
  }


  .top_wrap.about.moveMent.hidden{
    top: -40px;

    h2.moveMent.visible{
      transition-delay: 0.6s;
    }
    h2.moveMent.hidden{
      transition-delay: 0.2s;
    }
    p.moveMent.visible{
      transition-delay: 0.4s;
    }
    p.moveMent.hidden{
      transition-delay: 0.4s;
    }
  }
  
}
.left_side.about{
  .moveMent.visible{
    transition-delay: 0.45s;
  }
  .moveMent.hidden{
    transition-delay: 0s;
  }
}
.skill_wrap{
  .moveMent.visible{
    &:first-of-type{
      transition-delay:0.4s ;
    }
    &:nth-of-type(2){
      transition-delay:0.3s ;
    }
    &:nth-of-type(3){
      transition-delay:0.2s ;
    }
    &:nth-of-type(4){
      transition-delay:0.1s ;
    }
    &:nth-of-type(5){
      transition-delay:0s ;
    }
    &:nth-of-type(6){
      transition-delay:0.4s ;
    }
    &:nth-of-type(7){
      transition-delay:0.3s ;
    }
    &:last-of-type{
      transition-delay:0.2s ;
    }
  }

  .moveMent.hidden{
    &:first-of-type{
      transition-delay:0s ;
    }
    &:nth-of-type(2){
      transition-delay:0.1s ;
    }
    &:nth-of-type(3){
      transition-delay:0.2s ;
    }
    &:nth-of-type(4){
      transition-delay:0.3s ;
    }
    &:nth-of-type(5){
      transition-delay:0.4s ;
    }
    &:nth-of-type(6){
      transition-delay:0.1s ;
    }
    &:nth-of-type(7){
      transition-delay:0.2s ;
    }
    &:last-of-type{
      transition-delay:0.3s ;
    }
  }
}

.right_side{
  h2.moveMent.visible{
    transition-delay: 0.45s;
  }
  p.moveMent.visible{
    transition-delay: 0.4s;
  }
  span.moveMent.visible{
    transition-delay: 0.3s;
  }

  h2.moveMent.hidden{
    transition-delay: 0.3s;
  }
  p.moveMent.hidden{
    transition-delay: 0.4s;
  }
  span.moveMent.hidden{
    transition-delay: 0.45s;
  }
}

@media screen and (max-width:1740px) {
  .about_wrap{
    .top_wrap.about{
       h2{
        width: 63.5%;
        font-size: 42px;
       }
    }
}
}

@media screen and (max-width:1550px) {
  .about_wrap{
    h1 {
      left: 12%;
  }

    .bottom_wrap.about{
      width: 65%;
      .left_side.about{
        
        margin-top: 30px;
        .skill_wrap {
          font-size: 1.1vw;
          li{
            width: 205px;
          }
      }
    }
      .right_side.about{
        margin-top: 30px; 
        p {
          font-size: 24px;
 
      }
      span{
        font-size: 16px;
      }
    }

    }

}
}

@media screen and (max-width:1275px) {
  .about_wrap{
    padding-left: 50px;
  h1.moveMent.visible {
    top: 65px;
    left: 10%;
    font-size: 32px;
}

h1.moveMent.hidden{
top: 0px;
left: 10%;
font-size: 32px;
}



.profile_image {
  top: 15%;
}

.about_info{
  top: 15%;
}

.top_wrap.about{
  height: auto;
  h2{
    width: 58%;
   font-size: 32px;
  }
  p{
    font-size: 16px;
  }
}

.bottom_wrap.about{
  width: 65%;
  flex-direction: column;
  .left_side.about{
    h2{
      width: 500px;
    }
    margin-top: 30px;
    .skill_wrap {
      font-size: 1.5vw;
      li{
        width: 240px;
      }
  }
}
  .right_side.about{
    margin-top: 30px; 
    p {
      font-size: 24px;

  }
  span{
    font-size: 16px;
  }
}

}

}

}


@media screen and (max-width:1000px) {
.about_wrap{
  padding-left: 0px;

h1.moveMent.visible {
left: 15%;
}

h1.moveMent.hidden{
left: 15%;
}


  .profile_image{
    display: none;
  }

  .about_info{
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
  }
  .top_wrap.about{
    height: auto;
    h2{
      width: 100%;
    }
    p{
      width: 100%;
    }
  }

  .bottom_wrap.about{
    width: 100%;
    .left_side.about{
      h2{
        width: 480px;
      }
  }
  .right_side.about{
    margin-top: 30px; 
    p {
      font-size: 24px;

  }
  span{
    font-size: 16px;
  }
}
  }
}
}

@media screen and (max-width:720px) {
  .about_wrap{
    h1.moveMent.visible {
      top: 28px;
      left: 15%;
      font-size: 28px;
    }
    
    h1.moveMent.hidden{
    top: -20px;
    left: 15%;
    font-size: 28px;
    }

    .about_info{
      width: 90%;
    }

    .bottom_wrap.about {
      overflow: hidden;
      .left_side.about{
        .skill_wrap {
          font-size: 16px;
      }
      }
}
  }



}