@charset "UTF-8";
@import url(../styles/Common.scss);


.about_wrap{
  height: 100%;

  h1{
    position: absolute;
    top: 180px;
    left: 12%;
    font-family: Caveat;
    font-size: 50px;
    font-weight: bold;
    color: #636B88;
  }

  .top_wrap.about{
    position: relative;
    left: 100px;
    top: 25%;
    width: 1350px;
    height: 230px;
    color: #636B88;
    line-height: 1.3;
     h2{
      font-size: 42px;
      letter-spacing: 4.3px;
      border-bottom: 2px solid #636B88;
      padding-bottom: 15px;
     }
     p{
      margin-top: 15px;
      font-size: 25px;

     }
  }
}

.bottom_wrap.about{
  position: relative;
  top: 28%;
  display: flex;
}

.left_side.about{
  width: 464px;

  font-family: Caveat;
  h2{
    font-size: 35px;
    font-weight: bold;
    border-bottom: 2px solid #636B88;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .skill_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 284px;
    font-size: 30px;
    li{
      width: 240px;
      height: 36px;
      margin-bottom: 20px;
      img{
        height: 36px;
        text-indent: -9999px;
        overflow: hidden;
        margin-right: 10px;
      }
    }
  }

}

.right_side.about{
  width: 464px;
  display: inline-block;
  margin: 0;
  right: 700px;
  line-height: 1.3;
  h2{ 
    font-family: Caveat;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 2px solid #636B88;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  p{
    font-size: 28px;
  }
  span{
    font-size: 20px;
    color: rgba($color: #636B88, $alpha: 0.8);
  }
}

// 전환 이펙트 효과

.about_wrap{
  overflow-y: hidden;

  h1.moveMent.visible{
      top: 90px;
      transition-delay: 0.4s;

  }
  h1.moveMent.hidden{
    top: 40px;
  }
  .top_wrap.about.moveMent.hidden{
    top: 200px;

    h2.moveMent.visible{
      transition-delay: 0.6s;
    }
    h2.moveMent.hidden{
      transition-delay: 0.2s;
    }
    p.moveMent.visible{
      transition-delay: 0.4s;
    }
    p.moveMent.hidden{
      transition-delay: 0.4s;
    }
  }
  
}
.left_side.about{
  .moveMent.visible{
    transition-delay: 0.45s;
  }
  .moveMent.hidden{
    transition-delay: 0s;
  }
}
.skill_wrap{
  .moveMent.visible{
    &:first-of-type{
      transition-delay:0.4s ;
    }
    &:nth-of-type(2){
      transition-delay:0.3s ;
    }
    &:nth-of-type(3){
      transition-delay:0.2s ;
    }
    &:nth-of-type(4){
      transition-delay:0.1s ;
    }
    &:nth-of-type(5){
      transition-delay:0s ;
    }
    &:nth-of-type(6){
      transition-delay:0.4s ;
    }
    &:nth-of-type(7){
      transition-delay:0.3s ;
    }
    &:last-of-type{
      transition-delay:0.2s ;
    }
  }

  .moveMent.hidden{
    &:first-of-type{
      transition-delay:0s ;
    }
    &:nth-of-type(2){
      transition-delay:0.1s ;
    }
    &:nth-of-type(3){
      transition-delay:0.2s ;
    }
    &:nth-of-type(4){
      transition-delay:0.3s ;
    }
    &:nth-of-type(5){
      transition-delay:0.4s ;
    }
    &:nth-of-type(6){
      transition-delay:0.1s ;
    }
    &:nth-of-type(7){
      transition-delay:0.2s ;
    }
    &:last-of-type{
      transition-delay:0.3s ;
    }
  }
}

.right_side{
  h2.moveMent.visible{
    transition-delay: 0.45s;
  }
  p.moveMent.visible{
    transition-delay: 0.4s;
  }
  span.moveMent.visible{
    transition-delay: 0.3s;
  }

  h2.moveMent.hidden{
    transition-delay: 0.3s;
  }
  p.moveMent.hidden{
    transition-delay: 0.4s;
  }
  span.moveMent.hidden{
    transition-delay: 0.45s;
  }
}
