@charset "UTF-8";
@import url(../styles/Common.scss);

.wrap.Cjone{
    width: 100%;
    height: 100vh;


    .info_top_wrap{
        color: #AF3C42;
    }

    .info_bottom_wrap{
        
         .info_left_side{
            h3{
                color: #AF3C42;
            }
         }

        .info_right_side{
            div{
                h3{
                    color: #AF3C42;
                }
                ul{  
                    margin: 0 0 20px 20px;}
               }
        }
    }

}

.move__project.cjone{
    .info_left_side:hover{
        p{
            animation: pmove 0.3s;
            animation-fill-mode: forwards;
            color: #1428A0;
        }
    }

    .info_right_side:hover{
        p{
            animation: pmove 0.3s;
            animation-fill-mode: forwards;
            color: #1428A0;
        }
    }
    }

// .mockup_desktop.Cjone {
//     background: url(../../public/images/cjoneMockup2.png)no-repeat 0 0;
//     background-size: cover;
//     border-radius: 15px;
// }
// .mockup_tablet.Cjone{
//     position: absolute;
//     left: 10%;
//     bottom: 0;
//     width: 528px;
//     height: 471px;
//     background: url(../../public/images/cjoneMockup3.png)no-repeat 0 0;
//     background-size: cover;
//     border-radius: 15px;
// }
// .mockup_phone.Cjone{
//     position: absolute;
//     left: 70%;
//     bottom: 0;
//     width: 300px;
//     height: 500px;
//     background: url(../../public/images/cjoneMockup1.png)no-repeat 0 0;
//     background-size: contain;
//     border-radius: 15px;
// }

