@charset "UTF-8";
@import url(../styles/Common.scss);

.wrap{
    width: 100%;
    height: 100vh;
    .background_image.cjone{
        position: fixed;
        left: 50%;
        top: 20%;
        width: 50%;
        opacity: 0.13;
        filter: blur(35px);
        transition: all 0.3s ease-in-out;
      }
    .mockup_frame_tablet{
        position: absolute;
        left: 70%;
        width: 260px;
        height: 340px;
        border-radius: 15px;

        video{
            position: absolute;
            top: 11px;
            left: 11px;
            width: 239px;
            height: 319px;
            border-radius: 5px;
            object-fit: fill;
        }
    }
    .mockup_frame_phone{
        position: absolute;
        left: 15%;
        width: 260px;
        height: 370px;
        border-radius: 15px;

        video{
            position: absolute;
            top: 8px;
            left: 11px;
            width: 164px;
            height: 353px;
            object-fit: fill;
            border-radius: 10px;
        }

    }
    .mockup_frame_tablet.visible{
        top: 40%;
        transition-delay: 0.2s;
        }

    .mockup_frame_phone.visible{
        transition-delay: 0.4s;
        top: 40%;
    }

    .mockup_frame_tablet.hidden{
        transition-delay: 0.4s;
        }

    .mockup_frame_phone.hidden{
        transition-delay: 0.2s;
    }


    .top_wrap.Cjone{
        .mockup_frame_desktop{
            background: url(../../public/images/mockup-desktop.png)no-repeat 0 0;
            background-size: cover;
        } 

        .mockup_frame_tablet{
            background: url(../../public/images/mockup-tablet1.png)no-repeat 0 0;
            background-size: cover;
        } 

        .mockup_frame_phone{
            background: url(../../public/images/mockup-phone.png)no-repeat 0 0;
            background-size: contain;
        } 
    }
}

.wrap.Cjone{
    .info_top_wrap{
        color: #AF3C42;
        p{
            &:before {
              background-color: #AF3C42; 
            }

      }
    }
    
    .info_bottom_wrap{
        
         .info_left_side{
            h3{
                color: #AF3C42;
            }
         }
    
        .info_right_side{
            div{
                h3{
                    color: #AF3C42;
                }
                ul{  
                    margin: 0 0 20px 20px;
                    .pdf.cjone:hover{
                        color: #AF3C42;
                      }
                }
               }
        }
    } 
}



.move__project.cjone{
    .info_left_side:hover{
        p{
            animation-fill-mode: forwards;
            color: #1428A0;
        }
    }

    .info_right_side:hover{
        p{
            animation-fill-mode: forwards;
            color: #1428A0;
        }

    }
    }


    // 큐브 효과

    .cube.cjone{
        position: fixed;
        top: 0;
        left: 120px;
        z-index: 0;
        transition: all 0.4s ease-in-out 0.25s ;
        .cube__face {
            animation: none;
            border: 1px solid #f22d2d;
            box-shadow: 0 0 1px 2px #f3f2f9;
            background: #AF3C42 ;
          }
      }
      .cube.cjone.visible{
        top: 240px;
        opacity: 1;
        transform: scale(0.5);
      }
      .cube.cjone.hidden{
        top: 240px;
        opacity: 0;
      }

      @media screen and (max-width:1275px) {

                //   큐브 배경

            .cube.cjone{
                left: 75px;
            }
            .cube.cjone.visible{
                top: 150px;
                opacity: 1;
                transform: scale(0.25);
            }
            .cube.cjone.hidden{
                top: 80px;
                opacity: 0;
            }
      }
      
      @media screen and (max-width:720px) {
           //   큐브 배경

        .cube.cjone{
            left: 100px;
        }
        .cube.cjone.visible{
            top: 44px;
            opacity: 1;
            transform: scale(0.2);
        }
        .cube.cjone.hidden{
            top: 80px;
            opacity: 0;
        }

      }