.contact_wrap{
  z-index: 1000;
  height: 100%;
  .background_image{
    position: fixed;
    left: 50%;
    top: 15%;
    img:first-of-type{
      opacity: 0.8;
      filter: blur(35px);
      transition: all 0.5s ease-in-out 0s;
    }
    img:last-of-type{
      position: absolute;
      left: -40px;
      top: 130px;
      filter: blur(35px);
      opacity: 0.8;
      transition: all 0.5s ease-in-out 0s;
    }
  }
  
  .bImage.visible:first-of-type{
    transform: translateX(-70%) rotate(10deg) scale(0.65);
  }
  .bImage.visible:last-of-type{
    transform: translateX(0) rotate(-45deg) scale(1.3);
  }

  .bImage.hidden{
    transform: translate(-230% , -00%) rotate(-360deg) scale(0.1);
  }

  .bImage.hidden:last-of-type{
    transform: translate(-500% , 500%) rotate(-360deg) scale(0);
  }

  .contact_info{
    position: relative;
    top: 25%;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    color: #636B88;
    line-height: 2;
  
    h2{
      font-size: 3.5vw;
      font-weight: bold;
      border-bottom: 2px solid #636B88;
      padding-bottom: 10px;
    }
    p{
      margin-top: 40px;
      font-size: 1.5vw;
      letter-spacing: 3px;
      
      span{
        font-weight: bold;
        margin-right: 40px;
      }
      &:last-of-type{
        width: 200px;
        cursor: pointer;
        svg{
          position: absolute;
          top: -10px;
          font-size: 70px;
        }
      }
    }
  }
  
  .contact_wrap{
  
    h2.moveMent.visible{
      transition-delay: 0.5s;
    }
    h2.moveMent.hidden{
      transition-delay: 0.2s;
    }
    p.moveMent.visible{
      transition-delay: 0.2s;
    }
    p.moveMent.hidden{
      transition-delay: 0.5s;
    }
  }
  .cube{
    position: absolute;
    z-index: 0;
    transition: all 0.4s ease-in-out 0.25s 
    
  }
  .cube.visible{
    animation: cubeScale 5s ease-in-out infinite;
    left: 70%; 
  }
  .cube.hidden{
    left: 0;
  }
  .cube__face {
    animation: none;
    border: 1px solid #f2f2f2;
    background: #636B88;
    box-shadow:none;
    filter: blur(3px);
  }
}

@keyframes cubeScale{
  0%{transform: scale(1.5) rotate(30deg);}
  25%{transform: scale(1) rotate(90deg);}
  50%{transform: scale(1.5) rotate(30deg);}
  75%{transform: scale(1) rotate(90deg);}
  100%{transform: scale(1.5) rotate(30deg);}
}




@media screen and (max-width:720px) {
  .contact_wrap{
  .contact_info{
     width: 80%;
    h2{
      font-size: 6vw;
      border-bottom: 1px solid #636B88;
      padding-bottom: 10px;
    }
    p{
      margin-top: 40px;
      font-size: 3vw;
      letter-spacing: 3px;
    }

    }
  }
}



@media screen and (max-width:360px) {
  .contact_wrap{
    .contact_info {
      width: 80%;
    }
  }
}


