@charset "UTF-8";
@import url(../styles/Common.scss);

.wrap.funfilx{
    width: 100%;
    height: 100vh;

        .top_wrap.funfilx{
            .mockup_frame_desktop{
                background: url(../../public/images/mockup-desktop.png)no-repeat 0 0;
                background-size: cover;
            } 
    
            .mockup_frame_tablet{
                background: url(../../public/images/mockup-tablet1.png)no-repeat 0 0;
                background-size: cover;
            } 
    
            .mockup_frame_phone{
                background: url(../../public/images/mockup-phone.png)no-repeat 0 0;
                background-size: contain;
            } 
        }
    
    

    .info_top_wrap{
        color: #e50914;
        p{
            &:before {
              content: '';
              display: block;
              position: relative;
              width: 0;
              height: 2.5px;
              top: 91%;
              left: 0;
              background-color: #e50914; 
              visibility: hidden;
              transition: all 0.3s ease-in-out;
            }
            &:hover:before {
              visibility: visible;
              width: 100%;
            }
      }
    }
    .info{
        height: 80%;
      }
    .info_bottom_wrap{
        
         .info_left_side{
            h3{
                color: #e50914;
            }
         }

        .info_right_side{
            div{
                h3{
                    color: #e50914;
                }
                ul{  
                    margin: 0 0 20px 20px;}
               }
        }
    }

}

.move__project.funfilx{
    .info_left_side:hover{
        p{
            color: #E58D09;
        }
    }

    .info_right_side:hover{
        p{
            color: #E58D09;
        }
    }
    }


    // 큐브 효과

    .cube.funfilx{
    position: fixed;
    top: 0;
    left: 120px;
    z-index: 0;
    transition: all 0.4s ease-in-out 0.25s ;
    .cube__face {
        animation: none;
        border: 1px solid #e50914;
        box-shadow: 0 0 1px 2px #f3f2f9;
        background: #e50914 ;
        }
    }
    .cube.funfilx.visible{
    top: 240px;
    opacity: 1;
    transform: scale(0.5);
    }
    .cube.funfilx.hidden{
    top: 240px;
    opacity: 0;
    }

    
@media screen and (max-width:1275px) {
    .wrap.funfilx{
    //   큐브 배경
    .top_wrap.funfilx{
        left: 50%;
      }
 
    }
    .cube.funfilx{
        left: 75px;
        }
        .cube.funfilx.visible{
        top: 150px;
        opacity: 1;
        transform: scale(0.25);
        }
        .cube.funfilx.hidden{
        top: 80px;
        opacity: 0;
        }
    }
      
    @media screen and (max-width:720px) {
        //   큐브 배경
    
    .cube.funfilx{
        left: 100px;
    }
    
    .cube.funfilx.visible{
        top: 44px;
        opacity: 1;
        transform: scale(0.2);
    }
    .cube.funfilx.hidden{
        top: 80px;
        opacity: 0;
    }
    
    }
    
    @media screen and (max-width: 500px){
        .wrap.funfilx .info_top_wrap {
            p:before {
                height: 1.5px;
                top: 22px;
                left: 83.6%;
            }
            p:hover:before {
                width: 75px;
              }
        }
    
    }
    