
// 햄버거 메뉴
.hamburger-btn {
  position: relative;
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  color: #606887;
  margin-left: 20px;
}

.icons-style {
  opacity: 1;
  fill: none;
  stroke: #606887;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  display: block;
}

.hamburger-btn svg circle{transition: all 0.3s ease 0s;}

.hamburger-btn:hover svg circle:nth-of-type(1) {
  opacity: 1;
}

.hamburger-btn:hover svg circle:nth-of-type(2) {
  transform: translateY(-12px);
  opacity: 0;
}

.hamburger-btn:hover svg circle:nth-of-type(3) {
  opacity: 1;
}

.hamburger-btn:hover svg circle:nth-of-type(4) {
  transform: translateX(12px);
  opacity: 0;
}

.hamburger-btn:hover svg circle:nth-of-type(6) {
  transform: translateY(12px);
  opacity: 0;
}

.hamburger-btn:hover svg circle:nth-of-type(8) {
  transform: translateX(-12px);
  opacity: 0;
}

.hamburger-btn:hover svg rect:nth-of-type(1) {
  transform: translateX(-12px);
  width: 30px;
  
}

.hamburger-btn:hover svg rect:nth-of-type(2) {
  transform: translateY(-12px);
  height: 30px;
}

// click
.hamburger-btn__click svg circle{transition: all 0.2s ease 0s;}

.hamburger-btn__click svg rect{transition: all 0.2s ease 0s;}

.hamburger-btn__click svg circle:nth-of-type(1) {
  transform: translate(-12px , -12px) ;
  opacity: 0;
}

.hamburger-btn__click svg circle:nth-of-type(2) {
  opacity: 0;
}

.hamburger-btn__click svg circle:nth-of-type(3) {
  transform: translate(12px , -12px) ;
  opacity: 0;
}

.hamburger-btn__click svg circle:nth-of-type(4) {
  opacity: 0;
}

.hamburger-btn__click svg circle:nth-of-type(5) {
  transform: translate(12px , 12px) ;
  opacity: 0;
}

.hamburger-btn__click svg circle:nth-of-type(6) {
  opacity: 0;
}

.hamburger-btn__click svg circle:nth-of-type(7) {
  transform: translate(-12px , 12px) ;
  opacity: 0;
}

.hamburger-btn__click svg circle:nth-of-type(8) {
  opacity: 0;
}
.hamburger-btn__click svg rect:nth-of-type(1) {
transform: rotate(45deg);
width: 36px;
transform-origin: 31px 5px ;
  
}

.hamburger-btn__click svg rect:nth-of-type(2) {
transform: rotate(45deg);
height: 36px;
transform-origin: 41px 30px;
}

.hamburger-btn__click:hover svg circle{
  transition: all 0.2s ease 0s;
}
.hamburger-btn__click:hover svg rect{
  transition: all 0.2s ease 0s;
}

.hamburger-btn__click:hover svg circle:nth-of-type(1) {
  transform:translate(0 , 0);
  opacity: 1;
}


.hamburger-btn__click:hover svg circle:nth-of-type(3) {
  transform:translate(0 , 0);
  opacity: 1;
}

.hamburger-btn__click:hover svg circle:nth-of-type(5) {
  transform:translate(0 , 0);
  opacity: 1;
}

.hamburger-btn__click:hover svg circle:nth-of-type(7) {
  transform:translate(0 , 0);
  opacity: 1;
}


.hamburger-btn__click:hover svg rect:nth-of-type(1) {
  transform: translateX(-12px);
  width: 30px;

}

.hamburger-btn__click:hover svg rect:nth-of-type(2) {
  transform: translateY(-12px);
  height: 30px;
}