@charset "UTF-8";
@import url(../styles/Common.scss);

.main_wrap{
  height: 100%;
}


.main__info{
  z-index: 100 !important;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 51%;
  font-family: Caveat, sans-serif;
  text-align: center;
  color: #636B88;


  h1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 40px;
    overflow: hidden;
    span{
      transition: all 0.3s ease-in-out 0.2s;
      position: relative;
      top: 0;
    }

    span:first-of-type{
      font-size: 85px;
      -webkit-text-stroke:2px #636B88;
      text-shadow: -2px -2px 0 #636B88, 2px -2px 0 #636B88, -2px 2px 0 #636B88, 2px 2px 0 #636B88;
      color: #E7E6ED;
      font-weight: normal;
    }

    .wave{
      background: url(../../public/images/wave.png)repeat-x 0 90%;
      background-size: 350px;
    }
    .wave:hover{
      animation: ani 5s linear 0s infinite;
  }
  }
 
  @keyframes ani {
      0%{background-position-x: 0;}
      100%{background-position-x: 100%;}
  }

  p{
    font-size: 55px;
    margin-bottom: 40px;
  }
  
.more__box{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  span{
    width: 30%;
    font-size: 38px;

    svg{
      font-size: 28px;
    }
  }

}
}

.cube{
  z-index: 1;
    position: absolute;
    top:50%;
    left: 18%;
}


// 페이지 전환 효과
.span.visible {
  top: 0;
  opacity: 1;
}

.span.hidden {
  top: -100px;
  opacity: 0;
}

.wave.visible {
  top: 0;
  opacity: 1;
  transition-delay: 0.25s;
}

.wave.hidden {
  top: -100px;
  opacity: 0;
}

.moveMent{position: relative;
  transition: all 0.4s ease-in-out 0.2s;}

.moveMent.visible{
top: 0;
opacity: 1;
transition-delay: 0.25s;
}
.moveMent.hidden{
top: -95px;
opacity: 0;
}

.more__box{
  position: relative;
  overflow: hidden;
  height: 70px;
  transition: all 0.5s ease-in-out 0.2s;
}

    
.cube{
  transition: all 0.2s ease-in-out 0.25s ;
}
.cube.visible {
  opacity: 1;
}

.cube.hidden {
  opacity: 0;
}
