@charset "UTF-8";
@import url(../styles/Common.scss);

.main_wrap.menu{
    font-family: 'Gmarket' , sans-serif;
    color: #636B88;


    .background_image{
        perspective: 1000px;

      .svg1_box.off, .svg2_box.off, .svg3_box.off, .svg4_box.off, .svg5_box.off {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

    .svg1_box{
      position: absolute;
      top: -25%;
      left: -12%;
      transform: rotate(-45deg) scale(0.4);

  
      &.hidden{
        top: -32%;
        left: -20%;
      }
    }

    
    .svg1_box.on {
      z-index: 1000;
      opacity: 1;
      transform: translateZ(100px)  translateX(5vw) rotate(-45deg) scale(0.4) ;
    }
    
    .svg2_box{
      top: 42%;
      left: -5%;
      transform:  scale(0.37);

      &.hidden{
        bottom: -41%;
        left: 23%;
        transform: translateX(-50%) rotate(85deg);
      }
    }

    .svg2_box.on {
      z-index: 1000;
      opacity: 1;
      transform: translateZ(100px) translateX(5vw) scale(0.4);
    }

    .svg3_box{
      top: 20%;
      left: -11%;
      transform: rotate(150deg) scale(0.4);
      &.hidden{
        top: -30%;
        left: 70%;
        transform: rotate(130deg);
      }
    }
    .svg3_box.on {
      z-index: 1000;
      opacity: 1;
      transform: translateZ(100px) translateX(5vw) rotate(150deg) scale(0.45);
    }

    .svg4_box{
      top: 17%;
      left: 3%;
      transform: rotate(15deg) scale(0.4);

      &.hidden{
        top:  55%;
        left: 70%;
        transform: rotate(80deg);
      }
    }

    .svg4_box.on {
      z-index: 1000;
      opacity: 1;
      transform: translateZ(100px) translateX(5vw) rotate(15deg) scale(0.45);
    }

    .svg5_box{
      top: 17%;
      left: 14%;
      transform:  scale(0.3);

      &.hidden{
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .svg5_box.on {
      z-index: 1000;
      opacity: 1;
      transform: translateZ(100px) translateX(5vw) scale(0.35);
    }
  }

.profile__name{
  position: absolute;
  top: 100px;left: 190px;
  font-size: 2vw;
  font-weight: bold;
  background: url(../../public/images/wave-light.png) repeat-x 0 100%;
}

.profile__name:hover{
  animation: ani 5s linear 0s infinite;
}

.profile__name.moveMent.visible {
  top: 100px;left: 190px;
}

@keyframes ani {
  0%{background-position-x: 0;}
  100%{background-position-x: 100%;}
}

.Menu__list{
  z-index: 1000;
  position: absolute;
  top: 30%;
  left: 24%;
  font-weight: bold;
  
  span{
      font-size: 20px;
      margin-right: 20px;
      font-weight: normal;
  }

  ul{
    li.visible{
    font-size: 85px;
  }
  li.hidden{
    font-size: 0px;
  }
  }
}

.cube.menu{
  z-index: 0;
    position: absolute;
    top:50%;
    left: 15%;
    animation: cubeMove 0.7s ease 0s ;
    animation-fill-mode: forwards;
}

@keyframes cubeMove {
  0%{left: 15%;}
  100%{left: 75%;}
}

.cube.menu .cube__face {
  margin: -1em;
  width: 2em;
  height: 2em;
  border: 2px solid #eeaeca;
  box-shadow: 0 0 2px 3px #78ffd1 inset;
  backface-visibility: hidden;
  // background: radial-gradient(circle, #f0ffa6 38%, #78ffd1 63%, #ffb3c2 91%);
  background: radial-gradient(circle, #78ffd1 18%, #f0ffa6 100%);
  // background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  animation: colorChange 0s infinite;
}

  @keyframes colorChange {
      0% {
        background-color: #f5f5f5;
      }
      20%{
        background-color: #f5f5f5;
      }
    
      40% {
        background-color: #c5c5c5;
        border: 2px solid #c5c5c5;
        box-shadow: 0 0 2px 3px #ccc inset;
      }
      60%{
        background-color: #6f6f6f;
        border: 2px solid #6f6f6f;
        box-shadow: 0 0 2px 3px #777 inset;
      }
      
    80% {
      background-color: #333;
      border: 2px solid #333;
      box-shadow: 0 0 2px 3px #555 inset;
    }
    
    100% {
      background-color: #333;
      border: 2px solid #333;
      box-shadow: 0 0 2px 3px #555 inset;
    }
    }

    // 페이지 이동모션
    .profile__name{
      transition: all 0.4s ease-in-out 0.2s;

    }
    .profile__name.visible {
      z-index: 1000;
      top: 95px;
      opacity: 1;
      transition-delay: 0.65s;
    }

    .profile__name.hidden {
      top: 0px;
      opacity: 0;
      transition-delay: 0.05s;
    }

.Menu__list{
    .moveMent{
      position: relative;
      transition: all 0.4s ease-in-out 0.2s;
    }
    .moveMent.visible {
      top: 0;
      opacity: 1;
      transition-delay: 0.65s;
    }

    .moveMent.visible:nth-of-type(2) {
      top: 0;
      opacity: 1;
      transition-delay: 0.55s;
    }

    
    .moveMent.visible:nth-of-type(3) {
      top: 0;
      opacity: 1;
      transition-delay: 0.45s;
    }

    .moveMent.visible:nth-of-type(4) {
      top: 0;
      opacity: 1;
      transition-delay: 0.35s;
    }

    
    .moveMent.hidden {
      top: -95px;
      opacity: 0;
      transition-delay: 0s;
    }

     
    .moveMent.hidden:nth-of-type(2) {
      top: -95px;
      opacity: 0;
      transition-delay: 0s;
    }

    .moveMent.hidden:nth-of-type(3) {
      top: -95px;
      opacity: 0;
      transition-delay: 0s;
    }

    .moveMent.hidden:nth-of-type(4) {
      top: -95px;
      opacity: 0;
      transition-delay: 0s;
    }
    
  }
  
    .cube.menu{
      transition: all 0.2s ease-in-out 0.25s 
    }
    .cube.menu.visible {
      transform: scale(1.5);
      opacity: 1;
    }

    .cube.menu.hidden {
      opacity: 0;
    }
}



  @media screen and (max-width:1275px) {
    .main_wrap.menu{
      .background_image{
        .svg1_box{
          top: 10%;
          left: 20%;
          width: 50%;
          height: 50%;
    
        }
    
        .svg2_box{
          top: 48%;
          left: 15%;
          width: 50%;
          height: 50%;
        }
    
        .svg3_box{
          top: 35%;
          left: 15%;
          width: 40%;
          height: 40%;

        }
    
        .svg4_box{
          top: 29%;
          left: 30%;
          width: 45%;
          height: 45%;

        }
    
        .svg5_box{
          top: 30%;
          left: 45%;
          width: 140px;
          height: 140px;
    
        }
      }
      .profile__name.moveMent.visible {
        top: 65px;left:130px;
      }
      .profile__name.moveMent.hidden {
        left:130px;
      }

      .Menu__list{
        z-index: 1000;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        
        span{
            margin-right: 10px;
        }
      
        ul{
          li.visible{
          font-size: 5.5vw;
        }
        li.hidden{
          font-size: 0px;

        }
        }
      }

      .cube.menu{
        display: none;
      }
      
      // .cube.visible {
      //   opacity: 0.8;
      //   filter: blur(2px);
      //   animation: rotateInfinite 10s linear infinite ;
      // }
      
      // .cube__face {
      //   background: #f2f2f2;
      //   animation: none;
      // }
      
      // .cubeMove {
      //   transform: none;
      // }
      
      // .cubeMove.move-right {
      //   transform: none;
      // }
    }

  }

  @media screen and (max-width:960px) {
    .main_wrap.menu{
      .background_image{
        .svg1_box{
          top: 5%;
          left: -5%;
          width: 70%;
          height: 70%;
    
        }
    
        .svg2_box{
          top: 48%;
          left: -10%;
          width: 60%;
          height: 60%;
        }
    
        .svg3_box{
          top: 30%;
          left: -10%;
          width: 50%;
          height: 50%;

        }
    
        .svg4_box{
          top: 29%;
          left: 10%;
          width: 55%;
          height: 55%;

        }
    
        .svg5_box{
          top: 33%;
          left: 30%;
    
        }
      }
      .profile__name.moveMent.visible {
        top: 65px;left:130px;
        font-size: 20px;
      }
      .profile__name.moveMent.hidden {
        left:130px;
      }

      .Menu__list{
        top: 36%;
        left: 50px;
        transform: none;
        ul{
          li.visible{
          font-size: 66px;
        }
        li.hidden{
          font-size: 0px;

        }
        }

      }

    }

  }

  @media screen and (max-width:720px) {

    .main_wrap.menu{
      .background_image{
        .svg1_box{
          top: 5%;
          left: -5%;
          width: 500px;
        }
    
        .svg2_box{
          top: 38%;
          left: -10%;
          width: 400px;
        }
    
        .svg3_box{
          top: 20%;
          left: -10%;
          width: 350px;
        }
    
        .svg4_box{
          top: 27%;
          left: 10%;
          width: 420px;

        }
    
        .svg5_box{
          top: 33%;
          left: 30%;
    
        }
      }
      .profile__name.moveMent.visible {
        top: 27px;left: 90px;
        font-size: 20px;
      }
      .profile__name.moveMent.hidden {
        left:90px;
      }

      .Menu__list{
        left: 30px;
        transform: none;
        ul{
          li.visible{
          font-size: 55px;
        }
        li.hidden{
          font-size: 0px;

        }
        }
      }

    }

  }


  @media screen and (max-width:500px) {

    .main_wrap.menu{
      .background_image{
        .svg1_box{
          left: -30px;
          width: 500px;
        }
    
        .svg2_box{
          left: -80px;
        }
    
        .svg3_box{
          left: -80px;
        }
    
        .svg4_box{
          left: 50px;
        }
    
        .svg5_box{
          left: 190px;
        }
      }
      .Menu__list{

        ul{
          li.visible{
          font-size: 45px;
        }
        }
      }

    }

  }