
/* 커스텀 커서 스타일 정의해주기 */
.cursor {
  z-index: 1000;
  position: fixed;
  left: -13px;
  top: -13px;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #636B88;
  border-radius: 50%;
  pointer-events: none;
  transition: all 50ms ease;
  transform-origin: center center;
}

.cursor.Click{
  position: fixed;
  left: -20px;
  top: -19px;
  width: 2.3rem;
  height: 2.3rem;
  border: 2px solid #78ffd1;

}
  
.cursor_dot{
  z-index: 1000;
  position: fixed;
  left: -2px;
  top: -6px;
  font-size: 5px;
  color: #636B88;
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.1s ease;
  transition-property: background, transform;
  transform-origin: center center;
}

.cursor-effect {
  cursor: pointer;
}

.wave.cursor-effect {
  cursor:help;
}

.cursor.cursor-effect{
  width: 3rem;
  height: 3rem;
  left: -23px;
  top: -23px;
  background: rgba($color: #000000, $alpha: 0.3);
  border: none;
  transition: all 0.1s ease;
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
}



.cursor_dot.cursor-effect{
  display: none;
}
