
/* 커스텀 커서 스타일 정의해주기 */
.cursor {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #636B88;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 50ms ease;
  transform-origin: 100% 100%;
}

.cursor.Click{
  width: 2.3rem;
  height: 2.3rem;
  border: 2px solid #78ffd1;
}

.cursor_dot{
  font-size: 5px;
  color: #636B88;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
}