@charset "UTF-8";
@import url(../styles/Common.scss);



.nav__wrap{
  z-index: 1000;
  position: fixed;
  top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.left_side{
  margin-left: 100px;
  font-size: 48px;
  color: #606887;
  margin-top: 10px;
}

.right_side{
position: fixed;
right: 120px;
display: flex;
margin-top: 15px;
color: #606887;

}

@media screen and (max-width:1275px) {
<<<<<<< HEAD
=======
  .main_wrap{
>>>>>>> fa280110e78b3e157407426b07ae5dab52229be2
    .nav__wrap{
      top: 50px;
    }

    .left_side{
      margin-left: 50px;
    }

    .right_side{
    right: 50px;

    }
<<<<<<< HEAD

}



@media screen and (max-width:720px) {
=======
  }
}


@media screen and (max-width:720px) {
  .main_wrap{
>>>>>>> fa280110e78b3e157407426b07ae5dab52229be2
    .nav__wrap{
      top: 20px;
      height: 40px;

      .left_side {
        margin-left: 30px;
        font-size: 36px;
        color: #606887;
        margin-top: 5px;
    }
  
    .right_side {
      right: 30px;
      margin-top: 0px;
      font-size: 25px;
      color: #606887;
    }
    .hamburger-btn {
    transform: scale(0.9);
    }
  }
<<<<<<< HEAD
}
=======
}}
>>>>>>> fa280110e78b3e157407426b07ae5dab52229be2
