@charset "UTF-8";
@import url(../styles/Common.scss);

.wrap.PureCss{
    width: 100%;
    height: 100vh;

    .top_wrap.PureCss{
        display: flex;
        position: relative;
        top: -20px;
        left: 0;
        justify-content: center;
        width: 100%; 
        height: 500px;
        margin: 0;
        div{
            top: 0;
            transform: none;
            video{
                top: 0;
                left: 10px;
                object-fit: cover;
                border-radius: 0 0 50px 50px;
            }
        }
        div:first-of-type{
            width: 694px;height: 471px;

        }
        div:last-of-type{
            width: 694px;height: 471px;
        }
    }
    .info{
        height: 80%;
    }
    .info_top_wrap{
        color: #E58D09;
        p:before{
            background-color: #E58D09;
        }
    }

    .info_bottom_wrap{
        
         .info_left_side{
            h3{
                color: #E58D09;
            }
         }

        .info_right_side{
            div{
                h3{
                    color: #E58D09;
                }
                ul{  
                    margin: 0 0 20px 20px;}
               }
        }
    }

    .top_wrap .mockup_frame_desktop {
        left: 0;
        width: 700px;
        height: 580px;
        border-radius: 15px;
    }
}


.move__project.pureCss{
    height: 90px;
    
    .info_left_side:hover{
        p{
            color: #1428A0;
        }
    }

    .info_right_side:hover{
        p{
            color: #1428A0;
        }
    }
    }

        // 큐브 효과

        .cube.pureCss{
            position: fixed;
            top: 0;
            left: 120px;
            z-index: 0;
            transition: all 0.4s ease-in-out 0.25s ;
            .cube__face {
                animation: none;
                border: 1px solid #E58D09;
                box-shadow: 0 0 1px 2px #f3f2f9;
                background: #E58D09 ;
                }
            }
            .cube.pureCss.visible{
            top: 240px;
            opacity: 1;
            transform: scale(0.5);
            }
            .cube.pureCss.hidden{
            top: 240px;
            opacity: 0;
            }

            @media screen and (max-width:1275px) {
                .wrap.PureCss{
                //   큐브 배경
                .top_wrap.PureCss{
                    justify-content: center;
                    gap: 5%;
                    left: 50%;
                    height: 350px;
                    div:first-of-type {
                        left: 0;
                        width: 35%;
                        height: 90%;
                    }
                    div:last-of-type {
                        left: 0;
                        width: 35%;
                        height: 90%;
                    }
                    div video{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        left: 0;
                    }
                    
                  }
                
                }
                .cube.pureCss{
                    left: 75px;
                    }
                    .cube.pureCss.visible{
                    top: 150px;
                    opacity: 1;
                    transform: scale(0.25);
                    }
                    .cube.pureCss.hidden{
                    top: 80px;
                    opacity: 0;
                    }
                }
                @media screen and (max-width:1000px) {
                    .wrap.PureCss{
                        //   큐브 배경
                        .top_wrap.PureCss{
                            justify-content: center;
                            gap: 5%;
                            top: 0;
                            left: 50%;
                            height: 350px;
                            div:first-of-type {
                                left: 0;
                                width: 45%;
                                height: 90%;
                            }
                            div:last-of-type {
                                left: 0;
                                width: 45%;
                                height: 90%;
                            }
                            div video{
                                border-radius: 50px;
                                width: 100%;
                                height: 100%;
                            }
                            
                          }
                        }
                }
                @media screen and (max-width:720px) {
                    .wrap.PureCss{

                        .info {
                            top: 0px;
                            width: 80%;
                        }
                        //   큐브 배경
                        .top_wrap.PureCss{
                            flex-direction: column;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 50%;
                            height: 450px;
                            div:first-of-type {
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                            div:last-of-type {
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                            div video{
                                border-radius: 50px;
                                width: 100%;
                                height: 100%;
                            }
                            
                          }
                    }
                    //   큐브 배경

                .cube.pureCss{
                    left: 100px;
                }
                .cube.pureCss.visible{
                    top: 44px;
                    opacity: 1;
                    transform: scale(0.2);
                }
                .cube.pureCss.hidden{
                    top: 80px;
                    opacity: 0;
                }
                
                }
                
                @media screen and (max-width: 500px){
                    .wrap.PureCss{
                        .top_wrap.PureCss{
                            height: 350px; 
                          }
                        .info {
                            top: 50px;
                            width: 80%;
                        }
                     .info_top_wrap {
                        p:before {
                            height: 1.5px;
                            top: 22px;
                            left: 83.6%;
                        }
                        p:hover:before {
                            width: 75px;
                          }
                    }
                }

                        //   큐브 배경

                        .cube.pureCss{
                            left: 50px;
                        }
                        .cube.pureCss.visible{
                            top: 90px;
                            opacity: 1;
                            transform: scale(0.2);
                        }
                        .cube.pureCss.hidden{
                            top: 90px;
                            opacity: 0;
                        }
                        
            }