@charset "UTF-8";
@import url(../styles/Common.scss);

.wrap.samsungEg{
    width: 100%;
    height: 100vh;

    .top_wrap.samsungEg{
        .mockup_frame_desktop{
            background: url(../../public/images/mockup-desktop.png)no-repeat 0 0;
            background-size: cover;
        } 

        .mockup_frame_tablet{
            background: url(../../public/images/mockup-tablet1.png)no-repeat 0 0;
            background-size: cover;
        } 

        .mockup_frame_phone{
            background: url(../../public/images/mockup-phone.png)no-repeat 0 0;
            background-size: contain;
        } 
    }

    .mockup_frame_phone{
        video{
            position: absolute;
            top: 0px;
            left: 11px;
            width: 163px;
            height: 100%;
        }
    }

    .info_top_wrap{
        color: #1428A0;
    }

    .info_bottom_wrap{
        
         .info_left_side{
            h3{
                color: #1428A0;
            }
         }

        .info_right_side{
            div{
                h3{
                    color: #1428A0;
                }
                ul{  
                    margin: 0 0 20px 20px;}
               }
        }
    }

}


.move__project.samsungEg{
    .info_left_side:hover{
        p{
            color: #E73446;
        }
    }

    .info_right_side:hover{
        p{
            color: #E73446;
        }
    }
    }