.cls-1 {
    fill: none;
    stroke: #ff7bac;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 85px;
  }
  
  .cls-2 {
    fill: none;
    stroke: url(#_하늘);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 85px;
  }
  
  .cls-3 {
    fill: none;
    stroke: #00a99d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 85px;
  }
  
  .cls-4 {
    fill: #ff931e;
  }