@charset "UTF-8";
@import url(../styles/Common.scss);

.wrap.Totalks{
    width: 100%;
    height: 100vh;

    .top_wrap.Totalks{
        left: 40%;
        width: 382px;height: 730px;
        background: url(../../public/images/totalks-Large.png)no-repeat 0 0;
        border-radius: 0px 0px 50px 52px;
        background-size: cover;
    }

    .info_top_wrap{
        color: #E73446;
    }

    .info_bottom_wrap{
        
         .info_left_side{
            h3{
                color: #E73446;
            }
         }

        .info_right_side{
            div{
                h3{
                    color: #E73446;
                }
                ul{  
                    margin: 0 0 20px 20px;}
               }
        }
    }

}

.mockup_phone.Totalks{
    left: 55%;
    width: 623px;
    height: 730px;
    background: url(../../public/images/totalks-mockup.png)no-repeat 0 0;
    background-size: cover;
    border-radius: 15px;
}