@charset "UTF-8";
@import url(../styles/Common.scss);

.wrap.Totalks{
    width: 100%;
    height: 100vh;

    .top_wrap.Totalks{
        left: 40%;
        width: 382px;height: 730px;
        background: url(../../public/images/totalks-Large.png)no-repeat 0 0;
        border-radius: 0px 0px 50px 52px;
        background-size: cover;
        .totalks_video{
            position: absolute;
            left:36px;
            width: 321px;
            height: 730px;
        }
    }

    .info_top_wrap{
        color: #E73446;
        p{
            &:before {
              content: '';
              position: absolute;
              width: 0;
              height: 2.5px;
              top: 70px;
              left: 1160px;
              background-color: #E73446; 
              visibility: hidden;
              transition: all 0.3s ease-in-out;
            }
            &:hover:before {
              visibility: visible;
              width: 265px;
            }
  
      }
    }

    .info_bottom_wrap{
        
         .info_left_side{
            h3{
                color: #E73446;
            }
         }

        .info_right_side{
            div{
                h3{
                    color: #E73446;
                }
                ul{  
                    margin: 0 0 20px 20px;}
               }
        }
    }

}

.move__project.totalks{
    .info_left_side:hover{
        p{
            color: #E50914;
        }
    }

    .info_right_side:hover{
        p{
            color: #E50914;
        }
    }
    }

           // 큐브 효과

           .cube.totalks{
            position: fixed;
            top: 0;
            left: 120px;
            z-index: 0;
            transition: all 0.4s ease-in-out 0.25s ;
            .cube__face {
                animation: none;
                border: 1px solid #E73446;
                box-shadow: 0 0 1px 2px #f3f2f9;
                background: #E73446 ;
              }
          }
          .cube.totalks.visible{
            top: 240px;
            opacity: 1;
            transform: scale(0.5);
          }
          .cube.totalks.hidden{
            top: 240px;
            opacity: 0;
          }